@import "tailwindcss";

@import "remixicon/fonts/remixicon.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light only;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff !important; 
    --foreground: #171717 !important; 
  }
  
  html, body {
    background-color: #ffffff !important;
    color: #171717 !important;
  }
  
  input, textarea, select, button {
    background-color: #ffffff !important;
    color: #171717 !important;
    border-color: #d1d5db !important;
  }
}

html, body {
  font-family: var(--font-vazir), sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  background-color: #ffffff !important;
  color: #171717 !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  font-family: var(--font-lora), serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff !important;
  color: #171717 !important;
}

@layer utilities {
  .my-container {
    @apply container mx-auto max-w-[1200px]; 
  }
}


@theme {
  --color-pink: #c9a236;
  --color-secondery: #f5d5be;
  --color-accent: #f5f5f5;
  --color-primary: #f5ede6;
  --color-trans: #e0e0e0;
  --color-ngray: #eeeeee;
}


.swiper{
  width: 100%;
  height: 645px;
}
.swiper-slide{
  text-align: center;
  font-size: 18px;
  height: 100%;
}
.swiper-slide img{
  display: block;
  object-fit: cover;
}
.swiper{
  margin-left: auto;
  margin-right: auto;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: #fff; 
  width: 70px !important;
  height: 70px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black !important;
  padding: 28px;
  margin-left: 25px !important;
  margin-right: 25px !important;
}
.mySwiper{
  height: 300px;
  position: relative;
}
.mySwiperShop .swiper-button-next, .swiper-button-prev {
  background: transparent;  
  font-size: 16px !important;
  position: absolute !important;
}
.mySwiperShop .swiper-button-next{
  right: -50px !important;
  top: 120px !important;
}
.mySwiperShop .swiper-button-prev{
  left: -50px !important;
  top: 120px !important;
}

.btn1{
  font-size: 25px;
  padding-inline: 13px;
  border: 1px solid #e0e0e0;
}
.text1{
  font-size: 35px;
}
.text-end{
  text-align: end;
}
.para{
  clip-path: polygon(0 0, 90% 0, 60% 100%, 0 100%);
} 
.imdfg{
  width: 70px !important;
  height: 70px !important;
  border-radius: 50%;
}
.para2{
  height: 300px !important;
}
.para3{
  width: 40px !important;
}